*-checkpoint*
*/.ipynb_checkpoints/
desktop.ini
Visualisation/altair-data-*.json
*.dirlock
*.lock
*.DESKTOP-BP59RPT
Projects/logs_keras
Projects/*.h5
NeuralNetworks/correlation/
NeuralNetworks/Series/
